/* 
    Document   : style
    Created on : 30-lug-2012, 14.16.02
    Author     : giuseppe.ittiresu
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Arial,Helvetica,sans-serif;
    color: #222;
    
}

.alerts-container { 
    padding: 20px;
    border: 1px solid #999;
    margin: 10px;
    background-color: #ccc;
}

.alerts-container .alert-title { 
    font-size: 150%;
}
